.paginator {
  margin: 10px;
}
.selectedPage {
  padding: 10px;
  background-color: #c5c9d0;
  border-radius: 3px;
  cursor: default;
}
.page {
  width: 10px;
  padding: 10px;
  transition: background-color 300ms;
}

.page:hover {
  background-color: #c5c9d0;
  border-radius: 3px;
  cursor: pointer;
}
