.header {
  grid-area: h;
  background-color: white;
  border-radius: 5px;
}
.header img{
  width: 60px;
  border-radius: 5px;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: white;
}

.link {
  margin: 17px 5px;
}

.link a{
  color: black;
  text-decoration: none;
}

.link:hover {
  background-color: #c5c9d0;
  border-radius: 3px;
}
