.dialogs {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100%;
}

.dialogsItem {
  text-decoration: none;
  background-color: white;
  border-right: 5px solid #dce1e6;
  padding: 10px 5px;
}

.dialog {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 300ms;
}

.dialog a{
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

.dialog:hover {
  background-color: #c5c9d0;
  border-radius: 3px;
}

.img {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.messages {
  padding: 20px;
  background-color: white;
}

.message {

}
