.nav {
  grid-area: n;
  padding: 20px;
}

.item {
  width: 200px;
  margin-bottom: 7px;
  padding: 5px;
  transition: background-color 300ms;
}

.item:hover {
  background-color: #c5c9d0;
  border-radius: 3px;
}

.item a{
  color: black;
  text-decoration: none;
}

.item a.activeLink {
  color: black;
}

.elements {
  display: flex;
}
